{
  "username": "your@icloud.com",
  "password": "your-app-specific-password",
  "contacts": {
    "Farmor": "random-token",
    "Farfar": "random-token",
    "Pappa": "random-token",
    "Mamma": "random-token",
    "Farbror Elle": "random-token",
    "Faster Judit": "random-token"
  }
}
