{
  "username": "your@icloud.com",
  "password": "your-app-specific-password",
  "keys": {
    "INSERT": "random-token",
    "HOME": "random-token",
    "PAGEUP": "random-token",
    "DELETE": "random-token",
    "END": "random-token",
    "PAGEDOWN": "random-token"
  }
}
