{
  "username": "your@icloud.com",
  "password": "your-app-specific-password",
  "contacts": {
    "contact_1": "random-token",
    "contact_2": "random-token",
    "contact_3": "random-token",
    "contact_4": "random-token",
    "contact_5": "random-token",
    "contact_6": "random-token"
  }
}
